body > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
body > div > div {
  margin-bottom: 30px;
}
.cls_cases {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  max-width: 1300px;
  /*
  justify-content: center;
  flex-direction: column;
  align-items: center;
  */
}
/*
.cls_case + .cls_case {
  padding-left: 15px;
}
*/
.cls_case {
  padding: 7px;
  width: 400px;
}
.cls_case h3 {
  margin-top: 50px;
}

.cls_example {
  font-size: 0.9em;
  margin-bottom: 60px;
}
.cls_example pre {
  font-size: 0.9em;
}
.cls_example code {
  line-height: 1.25em!important;
}

/* stripes copy pasted from https://css-tricks.com/stripes-css/ */
/*
.cls_expected {
  background-color: #080;
  background-color: #00ff001f;
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    rgba(0,255,0,.07) 10px,
    rgba(0,255,0,.07) 20px
  );
}
.cls_internet {
  background-color: #880;
  background-color: #ffff0030;
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    rgba(255,255,0,.13) 10px,
    rgba(255,255,0,.13) 20px
  );
}
.cls_bug {
  background-color: #800;
  background-color: #ff000021;
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    rgba(255,0,0,.05) 10px,
    rgba(255,0,0,.05) 20px
  );
}
*/

/*
.cls_case {
  border-width: 0 0 0 5px;
  border-style: solid;
}
.cls_expected {
  border-color: #00ff003f;
}
.cls_internet {
  border-color: #ffff0050;
}
.cls_bug {
  border-color: #ff000031;
}
*/

.cls_case h2,
.cls_case h3 {
  border-width: 0 0 0 5px;
  border-style: solid;
	margin-left: -5px;
	padding-left: 5px;
}
.cls_expected h2,
.cls_expected h3 {
  border-color: #00ff008f;
}
.cls_internet h2,
.cls_internet h3 {
  border-color: #ffff0090;
}
.cls_bug h2,
.cls_bug h3 {
  border-color: #ff000071;
}



/* copy pasted from https://reactjs.org/ */
html {
	box-sizing: border-box;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
	font-weight: 400;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
