body > div {
  display: flex;
  justify-content: center;
}
.cls_examples {
  display: grid;
  grid-template-columns: 300px 450px;
  grid-row-gap: 50px;
  grid-column-gap: 30px;
}
.cls_examples pre {
  font-size: 0.9em;
}
