/*
.handliModalBackground ~ * {
  filter: blur(2px);
}
.handliModalBackground {
  background-color: rgba(255, 255, 255, 0.2) !important;
}
.handliModalContent {
  border: 1px solid #ebebeb !important;
  border-radius: 10px !important;
  position: relative;
}
.handliModalContent::before {
  content: "\26A0";
  font-size: 2em;
  position: absolute;
  top: 4px;
  left: 11px;
  color: #f2f215;
}
.handliModalContent {
  padding-left: 53px!important;
}
*/
